/* Mobile and Tablet  640px */
@media only screen and (max-width: 40em){
    br{
        display: none;
    }
}

/* 1024px */
@media only screen and (min-width: 64em)  {
    .section-content{
        margin-top: 45px !important;
    }

    .section-content h2{
        font-size: 2.25rem; /* 36px */
        color: 	hsl(244, 10%, 33%);
    }

    .main{
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .card-1{
        grid-row: 2 / 4;
    }

    .card-2{
        grid-area: 1 / 2 / 3 / 3;
    }

    .card-3{
        grid-area: 3 / 2 / 5 / 3; 
    }

    .card-4{
        grid-area: 2 / 3 / 4 / 4;
    }
}